{% extends 'tests/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet"
          href="{% static 'tests/css/test_run.css' %}">
{% endblock %}
{% block content %}
<div class="test-run">
    <div class="test-run__questions-list">
        <div class="test-run-container">
        <form method="post">
            {% csrf_token %}
            {% for question, field in question_fields %}
                <div class="test-run__question-block">
                    <div class="test-run__question-title">
                        <strong>
                            Вопрос {{ forloop.counter }}: {{ question.question_text }}
                        </strong>
                    </div>
                    {% if question.question_image %}
                    <div class="test__question-image-container">
                        <img class="test__question-image"
                             src="{{ question.question_image.url }}"
                             alt="Изображение к вопросу">
                    </div>
                    {% endif %}
                    <div class="test-run__answers-block">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="test-run__complete-test">
                <button type="submit"
                        class="test-run__complete-test-btn">
                    Завершить тест
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}