{% extends 'tests/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'users/css/password_change.css' %}">
{% endblock %}
{% block content %}
<div class="password-change">
    <div class="password-change__form-container">
        <form class="password-change__form" method="post">
            {% csrf_token %}
            <span class="password-change__form-indent">Новый пароль</span>
            {% for f in form %}
            <div class="password-change__form-error-block">{{ f.errors }}</div>
            {{ f }}
            {% endfor %}
            <div><button class="password-change__form-btn" type="submit">Изменить</button></div>
        </form>
    </div>
</div>
{% endblock %}